{% extends 'base.html' %}

{% block head %} 
<title>Admin</title>
{% endblock %}

{% block body %} 
<div class="players">
    <h1 style="text-align:center">All Players</h1>

    {% if players|length < 1 %}
    <h4 style="text-align:center">There are no players currently</h4>
    {% else %}
    <table>
        <tr>
            <th>Player</th>
            <th>Ranking</th>
            <th>email</th>
            <th>Actions</th>
        </tr>
        {% for player in players %}
        {% if not player.isCoach %}
        <tr>
            <td>{{ player.firstName }} {{ player.lastName }}</td>
            <td>{{ player.ranking }}</td>
            <td>{{ player.email }}</td>
            <td>
                <a href="/admin/delete/{{ player.userId }}">Delete</a>
                <a href="/admin/update/{{player.userId}}">Update</a>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
    <br><br>
    <table>
        <tr>
            <th>Coach</th>
            <th>email</th>
            <th>Actions</th>
        </tr>
        {% for player in players %}
        {% if player.isCoach %}
        <tr>
            <td>{{ player.firstName }} {{ player.lastName }}</td>
            <td>{{ player.email }}</td>
            <td>
                <a href="/admin/delete/{{ player.userId }}">Delete</a>
                <a href="/admin/update/{{player.userId}}">Update</a>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
    {% endif %}
</div>
<div class="dispute">
    <h1 style="text-align:center">Disputed Matches</h1>

    {% for match in matches %}
        {% if match.isDisputed %}
        dispute between 
            {% for player in players %}
                {% if match.playerIdOne == player.userId %}
                    <label for="playerOne">{{ player.firstName }} {{ player.lastName }}</label>
                {% endif %}
            {% endfor %}
        and
            {% for player in players %}
                {% if match.playerIdTwo == player.userId %}
                    <label for="playerTwo">{{ player.firstName }} {{ player.lastName }}</label>
                {% endif %}
            {% endfor %}
        about match on {{ match.matchDate}}

        <a href="/admin/dispute/{{match.matchId}}"> click to resolve</a><br><br>
        {% endif %}
    {% endfor %}
</div>
<div>
    <h1 style="text-align:center">Remove total Match history </h1>
    <a style="text-align:center" href="/admin/delete/delete_all_matches">Delete</a>
    <br><br><br><br>
</div>
<div>
    <a href="/admin/">click for admin</a> <br><br>
    <a href="/resolve/">click for resolve</a> <br><br>
    <a href="/stats/">slick for stats</a> 
</div>
{% endblock %}