{% extends 'base.html' %}

{% block head %} 
<title>Challenge</title>
{% endblock %}


{% block body %} 
<div class="players">
    <h1 style="text-align:center">Select Who you Challenge</h1>

    {% if players|length < 1 %}
    <h4 style="text-align:center">There are no Players</h4>
    {% else %}
    <table>
        <tr>
            <th>Player</th>
            <th>Ranking</th>
            <th>Challenge</th>
        </tr>
        {% for player in players %}
        {% if player != myself and player.isAvailable %}
        <tr>
            <td>{{ player.firstName }} {{ player.lastName }}</td>
            <td>{{ player.ranking }}</td>
            <td>
                <a href="/challenge/{{player.userId}}+{{myself.userId}}">Challenge</a>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
    {% endif %}
</div>
{% endblock %}
