{% extends 'base.html' %}

{% block head %} 
<title>Index</title>
{% endblock %}


{% block body %} 
<div class="players">
    <h1 style="text-align:center">Resolve your match</h1>

    {% if opponent == None %}
    <h4 style="text-align:center">You have no outstanding challenges</h4>
    {% else %}
    <form class="form-inline" method="POST" action="{{ url_for('resolve') }}">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">{{current_user.firstName}} select the winner and enter the score</span>
                    <select name="winner" class="selectpicker form-control">
                        <option value="{{current_user.userId}}" SELECTED>{{current_user.firstName}} {{current_user.lastName}}</option>
                        <option value="{{opponent.userId}}" SELECTED>{{opponent.firstName}} {{opponent.lastName}}</option>  
                    </select>
                    <label for="score">Enter Score </label>
                    <input type="text" name="score" id="score"><br><br>
            </div>
            <button type="submit" class="btn btn-default">Resolve Score</button>
          </div>
    </form>
    {% endif %}
</div>
{% endblock %}
