{% extends 'base.html' %}

{% block head %} 
{% endblock %}


{% block body %} 
<div class="content">
    <h1 style="text-align:center">Update {{ player.firstName }}</h1>

    <div class="form">
        <form action="/admin/submit/{{ player.userId }}" method="POST" style="text-align: center;">
            <label for="firstName">First name:</label>
            <input type="text" name="firstName" id="firstName"><br><br>
            <label for="lastName">Last name:</label>
            <input type="text" name="lastName" id="lastName"><br><br>
            <label for="email">Email:</label>
            <input type="text" name="email" id="email"><br><br>
            <label for="ranking">Ranking:</label>
            <select name = ranking method = "GET" action = "/">
                {% for rank in ranking %}
                    {% if rank == player.ranking %}
                        <option value= "{{rank.value}}" SELECTED=player.ranking> {{rank.value}}</option>
                    {% else %}
                        <option value= "{{rank.value}}"> {{rank.value}}</option>
                    {% endif %}
                {% endfor %} <br><br>
            <input type="checkbox" name ="isCoach" id="isCoach">
            <label for="isCoach">coach</label><br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
<div>
    <a href="/">click for home</a> <br><br>
    <a href="/resolve/">click for resolve</a> <br><br>
    <a href="/stats/">click for stats</a> 
</div>
{% endblock %}
