{% extends 'base.html' %}

{% block head %} 
<title>Index</title>
{% endblock %}


{% block body %} 
<div class="players">
    <h1 style="text-align:center">Resolve your match</h1>

    {% if players|length < 1 %}
    <h4 style="text-align:center">There are no Players</h4>
    {% else %}

    <form class="form-inline" method="POST" action="{{ url_for('resolve') }}">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">Please select the winner, then the loser, and enter the score</span>
                    <select name="player_one" class="selectpicker form-control">
                        {% for player in players %}
                        {% if player.isAvailable == False %}
                        <option value="{{player.playerId}}" SELECTED>{{player.firstName}} {{player.lastName}}</option> 
                        {% endif %}
                        {% endfor %}
                    </select>

                    <select name=player_two method="GET">
                        {% for player in players %}
                        {% if player.isAvailable == False %}
                        <option value="{{player.playerId}}" SELECTED>{{player.firstName}} {{player.lastName}}</option> 
                        {% endif %}
                        {% endfor %}
                    </select>

                    <label for="firstName">Enter Score </label>
                    <input type="text" name="score" id="score"><br><br>
            </div>
            <button type="submit" class="btn btn-default">Resolve Score</button>
          </div>
    </form>


    {% endif %}
</div>
{% endblock %}
